<%= Msf::Ui::Web::Common.header(framework.version) %>
<tr><td colspan='5'>

<br/>
<div align='center'>
	Welcome to the Metasploit Framework!<br><br>
	
	This interface is not finished, but can be used to browse modules and generate payloads.<br>
	The exploit	functionality is not working at this time.<br>
</div>

</td></tr>
<br><br><br><br><br><br><br><br><br><br><br><br>
<%= Msf::Ui::Web::Common.footer %>
