<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In - Metasploit API</title>
  <!-- TODO: use external style sheet -->
  <style>
    .credential-container {
      border: 1px solid rgba(0, 0, 0, 0.4);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
      margin-left: auto;
      margin-right: auto;
      max-width: 390px;
      min-width: 300px;
      min-height: 250px;
      padding: 34px;
    }

    input[type=text], input[type=password] {
      border-color: rgba(0, 0, 0, 0.6);
      border-width: 1px;
      margin-bottom: 16px;
      width: 100%;
      height: 34px;
    }

    button {
      border-color: rgba(0, 0, 0, 0.6);
      border-width: 1px;
      cursor: pointer;
      width: 100%;
      height: 34px;
    }
  </style>
</head>
<body>

<div style="padding:20px;">
  <form action="<%= AuthServlet.api_login_path %>" method="post">
    <div class="credential-container">
      <h2>Log In - Metasploit API</h2>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Log In</button>
    </div>
  </form>
</div>

</body>
</html>