<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In - Metasploit API</title>
  <link rel="stylesheet" type="text/css" href="/msf-ws.css">
</head>
<body>

<div style="padding:20px;">
  <form action="<%= AuthServlet.api_login_path %>" method="post">
    <div class="credential-container">
      <h2>Log In - Metasploit API</h2>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Log In</button>
    </div>
  </form>
</div>

</body>
</html>