!.gitignore
*.gem
*.rbc
*.sw[a-p]
*.tmproj
*.tmproject
*.un~
*~
.Spotlight-V100
.Trashes
._*
.bundle
.config
.directory
.elc
.emacs.desktop
.emacs.desktop.lock
.idea
.redcar
.rvmrc
.yardoc
Desktop.ini
Gemfile.lock
Icon?
InstalledFiles
Session.vim
\#*\#
_yardoc
auto-save-list
coverage
doc/
lib/bundler/man
pkg
pkg/*
rdoc
spec/reports
spec/sandbox
test/tmp
test/version_tmp
tmp
tmtags
tramp
.rbx
b/
