acammack-r7 <acammack-r7@github>     <acammack@aus-mbp-1099.aus.rapid7.com>
acammack-r7 <acammack-r7@github>     <adam_cammack@rapid7.com>
acammack-r7 <acammack-r7@github>     <Adam_Cammack@rapid7.com>
asoto-r7 <asoto-r7@github>           <aaron_soto@rapid7.com>
bcook-r7 <bcook-r7@github>           <bcook@rapid7.com>
bcook-r7 <bcook-r7@github>           <busterb@gmail.com>
bpatterson-r7 <bpatterson-r7@github> <“bpatterson@rapid7.com”>
bpatterson-r7 <bpatterson-r7@github> <Brian_Patterson@rapid7.com>
bturner-r7 <bturner-r7@github>       <brandon_turner@rapid7.com>
bwatters-r7 <bwatters-r7@github>     <bwatters@rapid7.com>
cdoughty-r7 <cdoughty-r7@github>     <chris_doughty@rapid7.com>
dheiland-r7 <dheiland-r7@github>     <dh@layereddefense.com>
dmaloney-r7 <dmaloney-r7@github>     <David_Maloney@rapid7.com>
dmaloney-r7 <dmaloney-r7@github>     <DMaloney@rapid7.com>
dmohanty-r7 <dmohanty-r7@github>     <Dev_Mohanty@rapid7.com>
dwelch-r7 <dwelch-r7@github>         <dean_welch@rapid7.com>
ecarey-r7 <ecarey-r7@github>         <e@ipwnstuff.com>
egypt <egypt@github>                 <egypt@metasploit.com> # aka egypt
egypt <egypt@github>                 <james_lee@rapid7.com>
jbarnett-r7 <jbarnett-r7@github>     <James_Barnett@rapid7.com>
jbarnett-r7 <jbarnett-r7@github>     <jbarnett@rapid7.com>
jhart-r7 <jhart-r7@github>           <jon_hart@rapid7.com>
jinq102030 <jinq102030@github>       <Jin_Qian@rapid7.com>
jinq102030 <jinq102030@github>       <jqian@rapid7.com>
jmartin-r7 <jmartin-r7@github>       <Jeffrey_Martin@rapid7.com>
kgray-r7 <kgray-r7@github>           <kyle_gray@rapid7.com>
khayes-r7 <khayes-r7@github>         <Kirk_Hayes@rapid7.com>
lsanchez-r7 <lsanchez-r7@github>     <lance@aus-mac-1041.aus.rapid7.com>
lsanchez-r7 <lsanchez-r7@github>     <lance@AUS-MAC-1041.local>
lsanchez-r7 <lsanchez-r7@github>     <lance.sanchez+github@gmail.com>
lsanchez-r7 <lsanchez-r7@github>     <lance.sanchez@gmail.com>
lsanchez-r7 <lsanchez-r7@github>     <lance.sanchez@rapid7.com>
lsato-r7 <lsato-r7@github>           <lsato@rapid7.com>
lvarela-r7 <lvarela-r7@github>       <“leonardo_varela@rapid7.com”>
mkienow-r7 <mkienow-r7@github>       <matthew_kienow@rapid7.com>
pbarry-r7 <pbarry-r7@github>         <pearce_barry@rapid7.com>
pdeardorff-r7 <pdeardorff-r7@github> <paul_deardorff@rapid7.com>
pdeardorff-r7 <pdeardorff-r7@github> <Paul_Deardorff@rapid7.com>
sdavis-r7 <sdavis-r7@github>         <scott_davis@rapid7.com>
sdavis-r7 <sdavis-r7@github>         <Scott_Davis@rapid7.com>
sdavis-r7 <sdavis-r7@github>         <sdavis@rapid7.com>
sgonzalez-r7 <sgonzalez-r7@github>   <sgonzalez@rapid7.com>
sgonzalez-r7 <sgonzalez-r7@github>   <sonny_gonzalez@rapid7.com>
shuckins-r7 <shuckins-r7@github>     <samuel_huckins@rapid7.com>
space-r7 <space-r7@github>           <shelby_pace@rapid7.com>
tatanus <tatanus@github>             <adam_compton@rapid7.com>
tdoan-r7 <tdoan-r7@github>           <thao_doan@rapid7.com>
todb-r7 <todb-r7@github>             <tod_beardsley@rapid7.com>
todb-r7 <todb-r7@github>             <todb@metasploit.com>
todb-r7 <todb-r7@github>             <todb@packetfu.com>
wchen-r7 <wchen-r7@github>           <msfsinn3r@gmail.com> # aka sinn3r
wchen-r7 <wchen-r7@github>           <wei_chen@rapid7.com>
wvu-r7 <wvu-r7@github>               <William_Vu@rapid7.com>
wvu-r7 <wvu-r7@github>               <wvu@cs.nmt.edu>
wvu-r7 <wvu-r7@github>               <wvu@metasploit.com>
wwalker-r7 <wwalker-r7@github>       <wyatt_walker@rapid7.com>
wwebb-r7 <wwebb-r7@github>           <William_Webb@rapid7.com>

# Above this line are current Rapid7 employees. Below this paragraph are
# volunteers, former employees, and potential Rapid7 employees who, at
# one time or another, had some largeish number of commits landed on
# rapid7/metasploit-framework master branch.  This should be refreshed
# periodically. If you're on this list and would like to not be, just
# let todb@metasploit.com know.

bannedit <bannedit@github>             David Rude <bannedit0@gmail.com>
bcoles <bcoles@github>                 bcoles <bcoles@gmail.com>
bokojan <bokojan@github>               parzamendi-r7 <peter_arzamendi@rapid7.com>
brandonprry <brandonprry@github>       <bperry@brandons-mbp.attlocal.net>
brandonprry <brandonprry@github>       Brandon Perry <bperry@bperry-rapid7.(none)>
brandonprry <brandonprry@github>       Brandon Perry <bperry.volatile@gmail.com>
brandonprry <brandonprry@github>       Brandon Perry <brandon.perry@zenimaxonline.com>
bwall <bwall@github>                   Brian Wallace <bwall@openbwall.com>
bwall <bwall@github>                   (B)rian (Wall)ace <nightstrike9809@gmail.com>
ceballosm <ceballosm@github>           Mario Ceballos <mc@metasploit.com>
Chao-mu <Chao-Mu@github>               chao-mu <chao@confusion.(none)>
Chao-mu <Chao-Mu@github>               <chao.mu@minorcrash.com>
ChrisJohnRiley <ChrisJohnRiley@github> Chris John Riley <chris.riley@c22.cc>
ChrisJohnRiley <ChrisJohnRiley@github> Chris John Riley <reg@c22.cc>
claudijd <claudijd@github>             Jonathan Claudius <claudijd@yahoo.com>
claudijd <claudijd@github>             Jonathan Claudius <jclaudius@trustwave.com>
corelanc0d3r <corelanc0d3r@github>     corelanc0d3r <peter.ve@corelan.be>
corelanc0d3r <corelanc0d3r@github>     Peter Van Eeckhoutte (corelanc0d3r) <peter.ve@corelan.be>
crcatala <crcatala@github>             Christian Catalan <ccatalan@rapid7.com>
darkoperator <darkoperator@github>     Carlos Perez <carlos_perez@darkoperator.com>
DanielRTeixeira <DanielRTeixeira@github> Daniel Teixeira <danieljcrteixeira@gmail.com>
efraintorres <efraintorres@github>     efraintorres <etlownoise@gmail.com>
efraintorres <efraintorres@github>     et <>
espreto <espreto@github>               <robertoespreto@gmail.com>
fab <fab@???>                          fab <> # fab at revhosts.net (Fabrice MOURRON)
farias-r7 <farias-r7@github>           <fernando_arias@rapid7.com>
FireFart <FireFart@github>             <firefart@gmail.com>
FireFart <FireFart@github>             <FireFart@users.noreply.github.com>
gmikeska-r7 <gmikeska-r7@github>       <greg_mikeska@rapid7.com>
gmikeska-r7 <gmikeska-r7@github>       greg.mikeska@rapid7.com <=>
gmikeska-r7 <gmikeska-r7@github>       greg.mikeska@rapid7.com <YOUR_USERNAME_FOR_EMAIL>
g0tmi1k <g0tmi1k@github>               <g0tmi1k@users.noreply.github.com>
g0tmi1k <g0tmi1k@github>               <have.you.g0tmi1k@gmail.com>
h00die <h00die@github>                 <h00die@users.noreply.github.com>
h00die <h00die@github>                 <mike@shorebreaksecurity.com>
h0ng10 <h0ng10@github>                 h0ng10 <hansmartin.muench@googlemail.com>
h0ng10 <h0ng10@github>                 Hans-Martin Münch <hansmartin.muench@googlemail.com>
hdm <hdm@github>                       HD Moore <hdm@digitaloffense.net>
hdm <hdm@github>                       HD Moore <hd_moore@rapid7.com>
hdm <hdm@github>                       HD Moore <x@hdm.io>
jabra <jabra@github>                   <jabra@spl0it.org>
jcran <jcran@github>                   <jcran@0x0e.org>
jcran <jcran@github>                   <jcran@pentestify.com>
jcran <jcran@github>                   <jcran@pwnieexpress.com>
jcran <jcran@github>                   <jcran@rapid7.com>
jduck <jduck@github>                   <github.jdrake@qoop.org>
jduck <jduck@github>                   <jdrake@qoop.org>
jgor <jgor@github>                     jgor <jgor@indiecom.org>
joevennix <joevennix@github>           Joe Vennix <joevennix@gmail.com>
joevennix <joevennix@github>           <Joe_Vennix@rapid7.com>
joevennix <joevennix@github>           <joev@metasploit.com>
joevennix <joevennix@github>           jvennix-r7 <Joe_Vennix@rapid7.com>
juanvazquez <juanvazquez@github>       jvazquez-r7 <juan.vazquez@metasploit.com>
juanvazquez <juanvazquez@github>       jvazquez-r7 <juan_vazquez@rapid7.com>
kernelsmith <kernelsmith@github>       Joshua Smith <kernelsmith@kernelsmith.com>
kernelsmith <kernelsmith@github>       Joshua Smith <kernelsmith@metasploit.com>
kernelsmith <kernelsmith@github>       kernelsmith <kernelsmith@kernelsmith>
kost <kost@github>                     Vlatko Kosturjak <kost@linux.hr>
kris <kris@???>                        kris <>
KronicDeth <KronicDeth@github>         Luke Imhoff <luke_imhoff@rapid7.com>
m-1-k-3 <m-1-k-3@github>               m-1-k-3 <github@s3cur1ty.de>
m-1-k-3 <m-1-k-3@github>               m-1-k-3 <m1k3@s3cur1ty.de>
m-1-k-3 <m-1-k-3@github>               m-1-k-3 <michael.messner@integralis.com>
m-1-k-3 <m-1-k-3@github>               Michael Messner <devnull@s3cur1ty.de>
Meatballs1 <Meatballs1@github>         <eat_meatballs@hotmail.co.uk>
Meatballs1 <Meatballs1@github>         <Meatballs1@users.noreply.github.com>
mubix <mubix@github>                   Rob Fuller <jd.mubix@gmail.com>
net-ninja <net-ninja@github.com>       Steven Seeley <steventhomasseeley@gmail.com>
nevdull77 <nevdull77@github>           Patrik Karlsson <patrik@cqure.net>
nmonkee <nmonkee@github>               nmonkee <dave@northern-monkee.co.uk>
nullbind <nullbind@github>             nullbind <scott.sutherland@nullbind.com>
nullbind <nullbind@github>             Scott Sutherland <scott.sutherland@nullbind.com>
ohdae <ohdae@github>                   ohdae <bindshell@live.com>
oj <oj@github>                         <oj@buffered.io>
r3dy <r3dy@github>                     Royce Davis <r3dy@Royces-MacBook-Pro.local>
r3dy <r3dy@github>                     Royce Davis <rdavis@Royces-MacBook-Pro-2.local>
r3dy <r3dy@github>                     Royce Davis <royce.e.davis@gmail.com>
rep <mschloesser-r7@github>            Mark Schloesser <mark_schloesser@rapid7.com>
rep <mschloesser-r7@github>            mschloesser-r7 <mark_schloesser@rapid7.com>
RageLtMan <sempervictus@github>        <rageltman [at] sempervictus>
RageLtMan <sempervictus@github>        <rageltman@sempervictus.com>
Rick Flores <0xnanoquetz9l@gmail.com>  Rick Flores (nanotechz9l) <0xnanoquetz9l@gmail.com>
rsmudge <rsmudge@github>               Raphael Mudge <rsmudge@gmail.com> # Aka `butane
rwhitcroft <rwhitcroft@github>         <rwhitcroft.github@gmail.com>
rwhitcroft <rwhitcroft@github>         <rwhitcroft@gmail.com>
rwhitcroft <rwhitcroft@github>         <rwhitcroft@users.noreply.github.com>
schierlm <schierlm@github>             Michael Schierl <schierlm@gmx.de> # Aka mihi
scriptjunkie <scriptjunkie@github>     Matt Weeks <scriptjunkie@scriptjunkie.us>
scriptjunkie <scriptjunkie@github>     scriptjunkie <scriptjunkie@scriptjunkie.us>
skape <skape@???>                      Matt Miller <mmiller@hick.org>
spoonm <spoonm@github>                 Spoon M <spoonm@gmail.com>
stufus <stufus@github>                 Stuart Morgan <stuart.morgan@mwrinfosecurity.com>
stufus <stufus@github>                 Stuart <stufus@users.noreply.github.com>
swtornio <swtornio@github>             Steve Tornio <swtornio@gmail.com>
Tasos Laskos <Tasos_Laskos@rapid7.com> Tasos Laskos <Tasos_Laskos@rapid7.com>
techpeace <techpeace@github>           Matt Buck <Matthew_Buck@rapid7.com>
techpeace <techpeace@github>           Matt Buck <techpeace@gmail.com>
timwr <timwr@github>                   <timrlw@gmail.com>
TomSellers <TomSellers@github>         Tom Sellers <tom@fadedcode.net>
trevrosen <trevrosen@github>           Trevor Rosen <trevor@catapult-creative.com>
trevrosen <trevrosen@github>           Trevor Rosen <Trevor_Rosen@rapid7.com>
TrustedSec <davek@trustedsec.com>      trustedsec <davek@trustedsec.com>
void-in <void-in@github>               void_in <root@localhost.localdomain>
void-in <void-in@github>               void-in <root@localhost.localdomain>
void-in <void-in@github>               <void-in@users.noreply.github.com>
void-in <void-in@github>               void-in <waqas.bsquare@gmail.com>
void-in <void-in@github>               Waqas Ali <waqas.bsquare@gmail.com>
zeroSteiner <zeroSteiner@github>       Spencer McIntyre <zeroSteiner@gmail.com>

# Aliases for utility author names. Since they're fake, typos abound

Metasploit Bot <metasploit@rapid7.com>    Metasploit <metasploit@rapid7.com>
Jenkins Bot <jenkins@rapid7.com>          Jenkins <jenkins@rapid7.com>
Tab Assassin <tabassassin@metasploit.com> TabAssassin <tabasssassin@metasploit.com>
Tab Assassin <tabassassin@metasploit.com> Tabassassin <tabassassin@metasploit.com>
Tab Assassin <tabassassin@metasploit.com> Tabasssassin <tabassassin@metasploit.com>
Tab Assassin <tabassassin@metasploit.com> URI Assassin <tabassassin@metasploit.com>
