<div id="ide-start" class="wizard_page">
    <p>
        Welcome to the Metasploit exploit Integrated Development Environment.
        Find bug. Open IDE. Click. Profit.
    </p>
    <ul>
        <li><%= link_to "Use wizard", :action => "wizard" %></li>
        <li><%= link_to "Advanced", :action => "advanced" %></li>
    </ul>
</div>