<div class="wizard_page">
    <% if flash[:error] and flash[:error].length > 0 %>
    <p class="error">
    <%= flash[:error] %>
    </p>
    <% end %>

<% if @step == 0 %>
    <h3>Step 1: Exploit information</h3>
    <p>
    </p>
    <table width="100%">
    <%= start_form_tag %>
    <%= end_form_tag %>
    </table>
<% end %>
    <span class="wizard_subs">
        <%= link_to "Dump current exploit in YAML", :action => "dump_current", :format => "yaml" %>
    </span>
</div>