<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>External template</title>
</head>
<body>
<h1>Worked!</h1>
<h2>How are you M. <%= @name %>
  <h2>Authorization status...</h2>
  <%= @auth%>
  </h2>
</body>
</html>