.demoNavigatorListWrapper {
	border:1px solid #dcdbdb;
	background-color:#f8f8f8;
	padding:2px;
}

.demoNavigatorListContainer {
	border:1px solid #f0f0f0;
	background-color:#fff;
	padding:1em;
}

.demoNavigator h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 1.2em;
	border-bottom:1px dotted #a9ccf5;
}

.demoNavigator .dojoButton {
	margin-bottom: 5px;
}

.demoNavigator .dojoButton .dojoButtonContents {
	font-size: 1.1em;
	width: 100px;
	color: black;
}
