<div dojoAttachPoint="domNode">
	<div dojoAttachPoint="summaryBoxNode">
		<table width="100%" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td dojoAttachPoint="screenshotTdNode" valign="top" width="1%">
						<img dojoAttachPoint="thumbnailImageNode" dojoAttachEvent="onclick: onSelectDemo" />
					</td>
					<td dojoAttachPoint="summaryContainerNode" valign="top">
						<h1 dojoAttachPoint="nameNode">
						</h1>
						<div dojoAttachPoint="summaryNode">
							<p dojoAttachPoint="descriptionNode"></p>
							<div dojoAttachPoint="viewDemoLinkNode"><img dojoAttachPoint="viewDemoImageNode"/ dojoAttachEvent="onclick: onSelectDemo"></div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
