<div dojoAttachPoint="domNode">
	<table width="100%" cellspacing="0" cellpadding="5">
		<tbody>
			<tr dojoAttachPoint="navigationContainer">
				<td dojoAttachPoint="categoriesNode" valign="top" width="1%">
					<h1>Categories</h1>
					<div dojoAttachPoint="categoriesButtonsNode"></div>
				</td>

				<td dojoAttachPoint="demoListNode" valign="top">
					<div dojoAttachPoint="demoListWrapperNode">
						<div dojoAttachPoint="demoListContainerNode">
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div dojoAttachPoint="demoNode"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
