    <div id="module-search-box">
        Search NOP (No-Op) modules:
        <input id="nop_search" name="terms" type="text" size="40" value=""/>
        <img alt="Spinner" id="search_spinner" src="/images/spinner.gif" style="display: none;" />
        <div id="search_results"></div>
    </div>
    
    <script type="text/javascript">
        generic_live_search('nop_search', 'nops', 'search_spinner');
    </script>