To be removed once menubar works as it should:
<script>
var wind = new Window('exploi', {className: "mac_os_x", title: "Exploits List", top:70, left:100, width:300, height:200, resizable: true, url: "/exploits/list", showEffectOptions: {duration:3}})
</script>
<input type="button" value="Exploits list" onClick="wind.show();">