
        <div class="desktop-tip" id="starttip">
            Use the top menu for accessing the Metasploit modules and functionality.
            Ex. <em>Exploits, Payloads, Encoders</em>. <br />
            Active windows will appear in the taskbar (look at the page bottom).
            <strong>Have phun!</strong>
        </div>