<% if @results %>
<% unless @clean_list %>
<table width="100%">
	<thead>
		<tr>
			<th>
				<% if (params[:terms].strip.length > 0) %>
					<% if (@results.size > 0) %>
						Matched <%= @results.size %> modules for term <em><%=h params[:terms] %>
					<% else %>
						No matching modules for term <em><%=h params[:terms] %>
					<% end %>
				<% else %>
					Showing all <% @results.size %> modules
				<% end %>
			</th>
		</tr>
	</thead>
	<tbody>
<% else %>
<ul>
<% end %>
<% @results.each do |m| %>
<% unless @clean_list %>
    <tr>
        <td class="moduleTitle">
            <a onclick="window.parent.openModuleWindow('<%= @module_type %>', '<%= m.refname.gsub('/', ':') %>', '<%= m.name.gsub('"','').gsub("'","") %>')" href="#"><%= h(m.name) %></a>

            <% if m.platform and @module_type =~ /(payloads|exploits)/ %>
            <%= module_platform_icons(m.platform) %>
            <% else %>
            	( <%= m.arch.join(' ') %> )
            <% end %>
        </td>
    </tr>
    <tr class="moduleDescription">
        <td class="moduleDescription"><%= m.description %></td>
    </tr>
<% else %>
    <li><%= h(m.name) %></li>
<% end %>
<% end %>
<% unless @clean_list %>
	</tbody>
</table>
<% else %>
</ul>
<% end %>
<% else %>
<p>
    No results for terms <em><%= h(params[:terms]) %></em>.
</p>
<% end %>
