<% if @results and @results.size > 0 %>
<table>
	<thead>
		<tr>
			<th colspan="2">Modules</th>
		</tr>
	</thead>
	<tbody>
<% @results.each do |m| %>
    <tr>
        <td class="itemTitle">
            <a onClick="window.parent.openModuleWindow('<%= @module_type %>', '<%= m.refname.gsub('/', ':') %>', '<%= m.name.gsub('"','').gsub("'","") %>')" href="#"><%= h(m.name) %></a>
        </td>
        <td>
            <% if m.platform %>
            <%= module_platform_icons(m.platform) %>
            <% end %>
        </td>
    </tr>
    <tr class="itemDescription">
        <td colspan="2" class="itemDescription"><%= m.description %></td>
    </tr>
<% end %>
	</tbody>
</table>
<% else %>
<p>
    No modules found with terms <em><%= h(params[:terms]) %></em>.
</p>
<% end %>