   <ul>
      <li class="menuButton" onclick="openExploitsWindow()">
         <img src="/images/bug.png" alt="" />Exploits
      </li>
      <li class="menuButton" onclick="openAuxiliariesWindow()">
         <img src="/images/zoom.png" alt="" />Auxiliaries
      </li>
      <li class="menuButton" onclick="openPayloadsWindow()">
         <img src="/images/bomb.png" alt="" />Payloads
      </li>
      <li class="menuButton" onclick="openConsoleWindow()">
         <img src="/images/terminal.png" alt="" />Console
      </li>
      <li class="menuButton" onclick="openSessionsWindow()">
         <img src="/images/star.png" alt="" />Sessions
      </li>
      <li class="menuButton" onclick="openOptionsWindow()">
         <img src="/images/wrench.png" alt="" />Options
      </li>
      <li class="menuButton" onclick="openAboutDialog()">
         <img src="/images/help.png" alt="" />About
      </li>
   </ul>