<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="eng">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <meta name="Author" content="L.M.H <lmh@info-pull.com>" />
        <meta name="Copyright" content="(c) 2006, L.M.H <lmh@info-pull.com>" />
        <title>Metasploit Framework Web Console v.3</title>
        <% ["prototype","effects","controls", "window", "application"].each do |js| %>
        <%= javascript_include_tag js %><% end %>
        <%= stylesheet_link_tag "msfweb" %>
        <%= stylesheet_link_tag "window-themes/default" %>
        <%= stylesheet_link_tag "window-themes/mac_os_x" %>
    </head>

    <body>
        <div id="topmenu" class="dojoMenu">
            <ul>
                <li>Exploits</li>
                <li>Payloads</li>
                <li>Encoders</li>
                <li>Nops</li>
                <li>Sessions</li>
                <li>Jobs</li>
                <li>Help</li>
            </ul>
        </div>
        
        <!--
        <div id="AboutDialog" bgColor="#444444" bgOpacity="0.5" toggle="fade" toggleDuration="250">
            The new Metasploit Framework Web Console (v.3) has been developed by L.M.H &lt;lmh@info-pull.com&gt;.<br />
            Copyright &copy; 2006 L.M.H &lt;lmh@info-pull.com&gt;. All Rights Reserved. <br />
            Thanks to H.D.M for the functionality suggestions and developing a ground-breaking project: Metasploit. <br />
            <input type="button" value="Close" id="hidedialog"/>
        </div>
        -->

        <div id="maincontent">
            <%= @content_for_layout %>
        </div>
    
    <script>run_tasks();</script>
    </body>
</html>