<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="eng">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <meta name="Author" content="LMH (lmh@info-pull.com)" />
        <meta name="Copyright" content="(c) 2006, LMH (lmh@info-pull.com)" />
        <title>Metasploit Framework Web Console v.3</title>
        <%= stylesheet_link_tag "msfweb" %>
        <%= stylesheet_link_tag "window-themes/default" %>
        <%= stylesheet_link_tag "window-themes/metasploit" %>
        <% ["prototype","effects","controls", "window", "application"].each do |js| %>
        <%= javascript_include_tag js %><% end %>
    </head>

    <body>
        <div id="topmenu">
            <ul>
                <li onclick="openExploitsWindow()" <%=msie_hover_fix('limsieFix')%>>
                    <img src="/images/bug.png" alt="" />
                    Exploits
                </li>
                
				<li onclick="openAuxiliariesWindow()" <%=msie_hover_fix('limsieFix')%>>
				    <img src="/images/zoom.png" alt="" />
				    Auxiliaries
				</li>
				
                <li onclick="openPayloadsWindow()" <%=msie_hover_fix('limsieFix')%>>
                    <img src="/images/bomb.png" alt="" />
                    Payloads
                </li>
                
                <li onclick="openEncodersWindow()" <%=msie_hover_fix('limsieFix')%>>
                    <img src="/images/encoder.png" alt="" />
                    Encoders
                </li>
                
                <li onclick="openNopsWindow()" <%=msie_hover_fix('limsieFix')%>>
                    <img src="/images/lightbulb-off.png" alt="" />
                    Nops
                </li>
                
                <li onclick="openSessionsWindow()" <%=msie_hover_fix('limsieFix')%>>
                    <img src="/images/terminal.png" alt="" />
                    Sessions
                </li>
                
                <li onclick="openJobsWindow()" <%=msie_hover_fix('limsieFix')%>>
                    <img src="/images/jobs.png" alt="" />
                    Jobs
                </li>
                
				<li onclick="openIDEWindow()">
				    <img src="/images/wrench.png" alt="" />
				    IDE
				</li>
				
                <li onclick="openAboutDialog()">
                    <img src="/images/help.png" alt="" />
                    Help
                </li>
            </ul>
            <span class="env-info">
                    Platform: <%=return_env_info()[:platform]%> (ruby <%=return_env_info()[:rubyver]%>)<br />
                    Metasploit: <%=return_env_info()[:msfver]%>
            </span>
        </div>

        <div id="maincontent">
            <%= @content_for_layout %>
        </div>
    
        <script type="text/javascript">
            run_tasks();
        </script>
    </body>
</html>
