<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	    <% @auxiliaries.each do |m| %>
		<tr>
			<td class="itemTitle">
			    <a onClick="window.parent.openModuleWindow('auxiliaries', '<%= m.refname.gsub('/', ':') %>', '<%= m.name %>')" href="#"><%= m.name %></a>
			</td>
			<td class="itemDescription"><%= m.description %></td>
		</tr>
		<% end %>
	</tbody>
</table>
