<table align="center" cellspacing="0" cellpadding="0" border="0" class="EAview_moduleFull">
    <tr>
        <td width="100%" class="EAview_moduleName">
            <%= h(@tmod.name) %> <br />
	</td>
    </tr>
    <tr>
        <td height="10">
        </td>
    </tr>
    <tr>
        <td width="100%" class="EAview_moduleDescription">
            <%= @tmod.description.split("\n\n").map{ |t| h(t) }.join("<br/><br/>") %>
        </td>
    </tr>
    <tr>
        <td height="10">
        </td>
    </tr>
    <tr>
        <td width="100%" class="EAview_moduleAuthor">
            This module (v<%= h @tmod.version.gsub(/\$Revision:\s+|\s+\$/, '') %>) was
            provided by <%= h @tmod.author.map{ |a| a.to_s.gsub(/\<.*/, '') }.join(' and ').strip %>,
            under the <%= @tmod.license %>. 
        </td>  
    </tr>
    <tr>
        <td height="10">
        </td>
    </tr>
    <tr>
        <td width="100%" class="EAview_moduleTargets_Title">
            Select a target to continue:
        </td>
    </tr>
    <tr>
        <td width="100%" class="EAview_moduleTargets">
            <ul>
		<% if  @tmod.actions.length > 0 %>
			<% p @tmod.actions %>
			<% @tmod.actions.each_with_index { |act, idx| %>
				<li><%= link_to h(act.name), :action => "config", :refname => @tmod.refname.gsub('/', ':'), :act => idx %></a></li>
			<% } %>
		<% else %>
			      <li><%= link_to 'Default Action', :action => "config", :refname => @tmod.refname.gsub('/', ':')%></a></li>
		<% end %>
		</ul>
        </td>
    </tr>	
	    
    <% if (@tmod.references.length > 0) %>
        <tr>
            <td height="10">
            </td>
        </tr>
        <tr>
            <td width="100%" class="EAview_moduleReferences_Title">
                External references:
            </td>
        </tr>
        <tr>
            <td width="100%" class="EAview_moduleReferences">
                <ul>
                    <% @tmod.references.each { |ref| %>
                        <% if (ref.kind_of?(Msf::Module::SiteReference)) %>
                            <li><a href="<%= ref.site %>" target="_blank"><%= h(ref.to_s) %></a></li>
                        <% else %>
                            <li><%= h(ref.to_s) %></li>
                        <% end %>
                    <% } %>
                </ul>
            </td>
        </tr>
    <% end %>
</table>
