<table align="center" width="100%" cellspacing="0" cellpadding="15" border="0">
    
	<tr width="100%" align="center">
        <p class="moduleName">
            <%= h(@tmod.name) %> <br />
        </p>
    </tr>
	
    <tr width="100%" align="center">
		<blockquote>
		  <p class="moduleDescription">
		      <%= h(@tmod.description) %>
		  </p>
		</blockquote>   
    </tr>

	
    <tr width="100%" align="center">
		<blockquote>

		  <p class="moduleDescription">
		      This module (v<%= h @tmod.version.gsub(/\$Revision:\s+|\s+\$/, '') %>) was
		      provided by <%= h @tmod.author.map{ |a| a.to_s.gsub(/\<.*/, '') }.join(' and ').strip %>,
		      under the <%= @tmod.license %>.
		  </p>
		</blockquote>   
    </tr>
    
	<% if (@tmod.references.length > 0) %>
    <tr width="100%" align="center">
		<blockquote>
		<p class="moduleDescription">
		External references:
		<ul class="moduleReferences">
			<% @tmod.references.each { |ref| %>
					<% if (ref.kind_of?(Msf::Module::SiteReference)) %>
					<li><a href="<%= ref.site %>" target="_blank">
					<%= h(ref.to_s) %></a></li>
			<% 	else %>
					<li><%= h(ref.to_s) %></li>
			<% 	end %>
			<% } %>
		</ul>
		</p>
		</blockquote>   
    </tr>
	<% end %>
	
    <tr width="100%" align="center">
		<blockquote>
			<p class="moduleDescription">
			Please select an action:
			<ul class="moduleTargets">
					
		<% if  @tmod.actions.length > 0 %>
			<% p @tmod.actions %>
			<% @tmod.actions.each_with_index { |act, idx| %>
				<li><%= link_to h(act.name), :action => "config", :refname => @tmod.refname.gsub('/', ':'), :act => idx %></a></li>
			<% } %>
		<% else %>
			<li><%= link_to 'Default Action', :action => "config", :refname => @tmod.refname.gsub('/', ':')%></a></li>
		<% end %>
			</ul>
			</p>		
		</blockquote>   
    </tr>	
</table>
