               <div class="menu1">
                    <div class="menutitle">Module - Title</div>
                    <ul>
                        <% $framework.payloads.each_module do |path, pcls| 
 	                      m = pcls.new
                        %>
                        <li><%= link_to path, :controller => "payloads" %> - <%= m.name %></li>
                        <% end %>
                    </ul>
                </div>