<table cellpadding="0" cellspacing="0" border="0">
	<thead>
		<tr>
			<th>Modules</th>
		</tr>
	</thead>
	<tbody>
	    <% @payloads.each_index do |i| 
				m = @payloads[i]
		%>
		
		<tr class="itemTitle">
			<td class="itemTitle">
			    <a onClick="window.parent.openModuleWindow('payloads', '<%= m.refname.gsub('/', ':') %>', '<%= m.name %>')" href="#"><%= m.name %></a>
			</td>
		</tr>
		
		<tr class="itemDescription">
			<td class="itemDescription"><%= m.description %></td>
		</tr>
		
		<% end %>
	</tbody>
</table>
