<meta content="text/html; charset=<%= @options.charset %>" http-equiv="Content-Type">

<title><%= h @title %></title>

<link type="text/css" media="screen" href="<%= rel_prefix %>/rdoc.css" rel="stylesheet">

<script type="text/javascript">
  var rdoc_rel_prefix = "<%= rel_prefix %>/";
</script>

<script type="text/javascript" charset="utf-8" src="<%= rel_prefix %>/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="<%= rel_prefix %>/js/navigation.js"></script>
<script type="text/javascript" charset="utf-8" src="<%= rel_prefix %>/js/search_index.js"></script>
<script type="text/javascript" charset="utf-8" src="<%= rel_prefix %>/js/search.js"></script>
<script type="text/javascript" charset="utf-8" src="<%= rel_prefix %>/js/searcher.js"></script>
<script type="text/javascript" charset="utf-8" src="<%= rel_prefix %>/js/darkfish.js"></script>
