<% unless klass.method_list.empty? then %>
<!-- Method Quickref -->
<nav id="method-list-section" class="section">
  <h3 class="section-header">Methods</h3>

  <ul class="link-list">
    <% klass.each_method do |meth| %>
    <li><a href="#<%= meth.aref %>"><%= meth.singleton ? '::' : '#' %><%= h meth.name %></a>
    <% end %>
  </ul>
</nav>
<% end %>
