<% unless klass.includes.empty? then %>
<!-- Included Modules -->
<nav id="includes-section" class="section">
  <h3 class="section-header">Included Modules</h3>

  <ul class="link-list">
  <% klass.each_include do |inc| %>
  <% unless String === inc.module then %>
    <li><a class="include" href="<%= klass.aref_to inc.module.path %>"><%= inc.module.full_name %></a>
  <% else %>
    <li><span class="include"><%= inc.name %></span>
  <% end %>
  <% end %>
  </ul>
</nav>
<% end %>
