<nav id="home-section" class="section">
  <h3 class="section-header">
    <a href="<%= rel_prefix %>/index.html">Home</a>
    <a href="<%= rel_prefix %>/table_of_contents.html#classes">Classes</a>
    <a href="<%= rel_prefix %>/table_of_contents.html#methods">Methods</a>
  </h3>
</nav>
