<% if klass.type == 'class' then %>
<nav id="parent-class-section" class="section">
  <h3 class="section-header">Parent</h3>
  <% if klass.superclass and not String === klass.superclass then %>
  <p class="link"><a href="<%= klass.aref_to klass.superclass.path %>"><%= klass.superclass.full_name %></a>
  <% else %>
  <p class="link"><%= klass.superclass %>
  <% end %>
</nav>
<% end %>
