<body class="indexpage">
<h1><%= h @title %></h1>

<% simple_files = @files.select { |f| f.text? } %>
<% unless simple_files.empty? then %>
<h2>Pages</h2>
<ul>
<% simple_files.sort.each do |file| %>
  <li class="file">
    <a href="<%= file.path %>"><%= h file.page_name %></a>
<%
   # HACK table_of_contents should not exist on Document
   table = file.parse(file.comment).table_of_contents
   unless table.empty? then %>
    <img class="toc-toggle" src="images/transparent.png" alt="" title="toggle headings">
    <ul class="initially-hidden">
<% table.each do |heading| %>
      <li><a href="<%= file.path %>#<%= heading.aref %>"><%= heading.plain_html %></a>
<%   end %>
    </ul>
<% end %>
  </li>
  <% end %>
</ul>
<% end %>

<h2 id="classes">Classes/Modules</h2>
<ul>
<% @modsort.each do |klass| %>
  <li class="<%= klass.type %>">
    <a href="<%= klass.path %>"><%= klass.full_name %></a>
<% table = []
   table.push(*klass.parse(klass.comment).table_of_contents)
   table.push(*klass.section_contents)

   unless table.empty? then %>
    <img class="toc-toggle" src="images/transparent.png" alt="" title="toggle headings">
    <ul class="initially-hidden">
<% table.each do |item| %>
      <li><a href="<%= klass.path %>#<%= item.aref %>"><%= item.plain_html %></a>
<%   end %>
    </ul>
<% end %>
  </li>
  <% end %>
</ul>

<h2 id="methods">Methods</h2>
<ul>
  <% RDoc::TopLevel.all_classes_and_modules.map do |mod|
       mod.method_list
     end.flatten.sort.each do |method| %>
    <li class="method"><a href="<%= method.path %>"><%= method.pretty_name %> &mdash; <%= method.parent.full_name %></a>
  <% end %>
</ul>
