<script language="VBScript">
  Set %{var_shell} = CreateObject("Wscript.Shell") 
  Set %{var_fso} = CreateObject("Scripting.FileSystemObject")
  If %{var_fso}.FileExists(%{var_shell}.ExpandEnvironmentStrings("%%PSModulePath%%") + "..\powershell.exe") Then
    %{var_shell}.Run "%{powershell}",0
  End If
  window.close()
</script>
