<table align="center" width="100%" cellspacing="0" cellpadding="15" border="0">
    
	<tr width="100%" align="center">
        <p class="moduleName">
            <%= h(@tmod.name) %> <br />
        </p>
    </tr>
	
    <tr width="100%" align="center">
		<blockquote>
		  <p class="moduleDescription">
		      <%= h(@tmod.description) %>
		  </p>
		</blockquote>   
    </tr>

	
    <tr width="100%" align="center">
		<blockquote>
		  <p class="moduleDescription">
		      This module (revision <%= h @tmod.version.gsub(/\$Revision:\s+|\s+\$/, '') %>) was provided by <%= h @tmod.author.map{ |a| a.to_s.gsub(/\<.*/, '') }.join(' and ').strip %>, under the <%= @tmod.license %>.
		  </p>
		</blockquote>   
    </tr>
    
	<% if (@tmod.references.length > 0) %>
    <tr width="100%" align="center">
		<blockquote>
		<p class="moduleDescription">
		External references:
		<ul class="moduleReferences">
			<% @tmod.references.each { |ref| %>
					<% if (ref.kind_of?(Msf::Module::SiteReference)) %>
					<li><a href="<%= ref.site %>" target="_blank">
					<%= h(ref.to_s) %></a></li>
			<% 	else %>
					<li><%= h(ref.to_s) %></li>
			<% 	end %>
			<% } %>
		</ul>
		</p>
		</blockquote>   
    </tr>
	<% end %>

</table>
