<div dojoAttachPoint="domNode">
	<div dojoAttachPoint="navigationNode">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="1%" valign="top" class="navigationCell"><h1>Categories</h1><div dojoAttachPoint="menuNavigationNode"></div></td>
				<td width="99%" valign="top">
					<div dojoAttachPoint="demoNavigationNode">
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div dojoAttachPoint="demoContainerNode">

		<div dojoAttachPoint="demoPaneNode">
		</div>

		<div dojoAttachPoint="demoHeaderNode">
			<span dojoAttachPoint="collapsedMenuNode" dojoAttachEvent="onclick: expandDemoNavigation"></span>
			<div dojoAttachPoint="aboutNode">About this Demo</div>
		</div>
	</div>
</div>
