.dojoHtmlFisheyeListItemLabel {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eee;
	border: 2px solid #666;
	padding: 2px;
	text-align: center;
	position: absolute;
	display: none;
}

.dojoHtmlFisheyeListItemLabel.selected {
	display: block;
}

.dojoHtmlFisheyeListItemImage {
	border: 0px;
	position: absolute;
}

.dojoHtmlFisheyeListItem {
	position: absolute;
	z-index: 2;
}

.dojoHtmlFisheyeListBar {
	position: relative;
}
