.StyleDropdownContainer {
	position: absolute;
	z-index: 1000;
	overflow: auto;
	cursor: default;
	width: 250px;
	height: 250px;
	background-color: white;
	border: 1px solid black;
}

.ColorDropdownContainer {
	position: absolute;
	z-index: 1000;
	overflow: auto;
	cursor: default;
	width: 250px;
	height: 150px;
	background-color: white;
	border: 1px solid black;
}

.EditorToolbarDomNode {
	background-image: url(buttons/bg-fade.png);
	background-repeat: repeat-x;
	background-position: 0px -50px;
}

.EditorToolbarSmallBg {
	background-image: url(images/toolbar-bg.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

/*
body {
	background:url(images/blank.gif) fixed;
}*/

.IEFixedToolbar {
	position:absolute;
	/* top:0; */
	top: expression(eval((document.documentElement||document.body).scrollTop));
}

div.bigIcon {
	width: 40px;
	height: 40px; 
	/* background-color: white; */
	/* border: 1px solid #a6a7a3; */
	font-family: Verdana, Trebuchet, Tahoma, Arial;
}

.iconContainer {
	font-family: Verdana, Trebuchet, Tahoma, Arial;
	font-size: 13px;
	float: left;
	height: 18px;
	display: block;
	/* background-color: white; */
	/* border: 1px solid white; */
	/* border: 1px solid #a6a7a3; */
	padding-right: 3px;
	cursor: pointer;
	border: 1px solid transparent;
	_border: none;
}

span.icon {
	display: block;
	text-align: center;
	min-width: 18px;
	width: 18px;
	height: 18px;
	/* background-color: #a6a7a3; */
	background-repeat: no-repeat;
	background-image: url(buttons/aggregate.gif);
}


span.icon[class~=icon] {
}

.headingContainer {
	width: 150px;
	height: 30px;
	margin: 0px;
	/* padding-left: 5px; */
	overflow: hidden;
	line-height: 25px;
	border-bottom: 1px solid black;
	border-top: 1px solid white;
}

.EditorToolbarDomNode select {
	font-size: 14px;
}

.sep { width: 5px; min-width: 5px; max-width: 5px; background-position: 0px 0px}
.backcolor { background-position: -18px 0px}
.bold { background-position: -36px 0px}
.cancel { background-position: -54px 0px}
.copy { background-position: -72px 0px}
.createlink { background-position: -90px 0px}
.cut { background-position: -108px 0px}
.delete { background-position: -126px 0px}
.forecolor { background-position: -144px 0px}
.hilitecolor { background-position: -162px 0px}
.indent { background-position: -180px 0px}
.inserthorizontalrule { background-position: -198px 0px}
.insertimage { background-position: -216px 0px}
.insertorderedlist { background-position: -234px 0px}
.inserttable { background-position: -252px 0px}
.insertunorderedlist { background-position: -270px 0px}
.italic { background-position: -288px 0px}
.justifycenter { background-position: -306px 0px}
.justifyfull { background-position: -324px 0px}
.justifyleft { background-position: -342px 0px}
.justifyright { background-position: -360px 0px}
.left_to_right { background-position: -378px 0px}
.list_bullet_indent { background-position: -396px 0px}
.list_bullet_outdent { background-position: -414px 0px}
.list_num_indent { background-position: -432px 0px}
.list_num_outdent { background-position: -450px 0px}
.outdent { background-position: -468px 0px}
.paste { background-position: -486px 0px}
.redo { background-position: -504px 0px}
.removeformat { background-position: -522px 0px}
.right_to_left { background-position: -540px 0px}
.save { background-position: -558px 0px}
.space { background-position: -576px 0px}
.strikethrough { background-position: -594px 0px}
.subscript { background-position: -612px 0px}
.superscript { background-position: -630px 0px}
.underline { background-position: -648px 0px}
.undo { background-position: -666px 0px}
.wikiword { background-position: -684px 0px}

