@media screen {
	html, body {
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
	body {
		display: none;
	}
	h1 {
		font-size: 50px;
	}
	p, li {
		font-size: 30px;
	}
	.dojoShowNav {
		background: #369;
		overflow: hidden;
		position: absolute;
		height: 5px;
		bottom: 0px;
		left: 0px;
		width: 100%;
		text-align: center;
	}
	.dojoShowNav input {
		margin: 0px;
	}
	.dojoShowHider {
		height: 5px;
		overflow: hidden;
		width: 100%;
	}
	.dojoShowPrint {
		position: absolute;
		left: 5px;
		top: 0px;
	}
}
@media print {
	.dojoShow {
		display: none !important;
	}
	.dojoShowPrint {
		display: block !important;
	}
	.dojoShowPrintSlide {
		border: 1px solid #aaa;
		padding: 10px;
		margin-bottom: 15px;
	}
	.dojoShowPrintSlide, ul {
	page-break-inside: avoid;
	}
	h1 {
		margin-top: 0;
		page-break-after: avoid;
	}
}