.dojoHtmlResizeHandle {
	float: right;
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 13px;
	height: 13px;
	z-index: 20;
	cursor: nw-resize;
	background-image: url(grabCorner.gif);
	line-height: 0px;
}