<div class="datePickerContainer" dojoAttachPoint="datePickerContainerNode">
	<h3 class="monthLabel">
	<!--
	<span 
		dojoAttachPoint="decreaseWeekNode" 
		dojoAttachEvent="onClick: onIncrementWeek;" 
		class="incrementControl">
		<img src="${dojoRoot}src/widget/templates/decrementWeek.gif" alt="&uarr;" />
	</span>
	-->
	<span 
		dojoAttachPoint="decreaseMonthNode" 
		dojoAttachEvent="onClick: onIncrementMonth;" class="incrementControl">
		<img src="${dojoRoot}src/widget/templates/decrementMonth.gif" 
			alt="&uarr;" dojoAttachPoint="decrementMonthImageNode">
	</span>
	<span dojoAttachPoint="monthLabelNode" class="month">July</span>
	<span 
		dojoAttachPoint="increaseMonthNode" 
		dojoAttachEvent="onClick: onIncrementMonth;" class="incrementControl">
		<img src="${dojoRoot}src/widget/templates/incrementMonth.gif" 
			alt="&darr;"  dojoAttachPoint="incrementMonthImageNode">
	</span>
	<!--
		<span dojoAttachPoint="increaseWeekNode" 
			dojoAttachEvent="onClick: onIncrementWeek;" 
			class="incrementControl">
			<img src="${dojoRoot}src/widget/templates/incrementWeek.gif" 
			alt="&darr;" />
		</span>
	-->
	</h3>
	<table class="calendarContainer">
		<thead>
			<tr>
				<td>Sunday</td>
				<td>Monday</td>
				<td>Tuesday</td>
				<td>Wednesday</td>
				<td>Thursday</td>
				<td>Friday</td>
				<td>Saturday</td>
			</tr>
		</thead>
		<tbody dojoAttachPoint="calendarDatesContainerNode" 
			dojoAttachEvent="onClick: onSetDate;">
			<tr dojoAttachPoint="calendarRow0">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr dojoAttachPoint="calendarRow1">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr dojoAttachPoint="calendarRow2">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr dojoAttachPoint="calendarRow3">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr dojoAttachPoint="calendarRow4">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr dojoAttachPoint="calendarRow5">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<h3 class="yearLabel">
		<span dojoAttachPoint="previousYearLabelNode"
			dojoAttachEvent="onClick: onIncrementYear;" class="previousYear"></span>
		<span class="selectedYear" dojoAttachPoint="currentYearLabelNode"></span>
		<span dojoAttachPoint="nextYearLabelNode" 
			dojoAttachEvent="onClick: onIncrementYear;" class="nextYear"></span>
	</h3>
</div>
