/* ---- button --- */
.dojoButton {
	padding: 0 0 0 0;
	font-size: 8pt;
	white-space: nowrap;
	cursor: pointer;
	font-family: Myriad, Tahoma, Verdana, sans-serif;
}

.dojoButton .dojoButtonContents {
	padding: 2px 2px 2px 2px;
	text-align: center;		/* if icon and label are split across two lines, center icon */
	color: white;
}

.dojoButtonLeftPart .dojoButtonContents {
	padding-right: 8px;
}

.dojoButtonDisabled {
	cursor: url("images/no.gif"), default;
}


.dojoButtonContents img {
	vertical-align: middle;	/* if icon and label are on same line, center them */
}

/* -------- colors ------------ */

.dojoButtonHover .dojoButtonContents {
}

.dojoButtonDepressed .dojoButtonContents {
	color: #293a4b;
}

.dojoButtonDisabled .dojoButtonContents {
	color: #eeeeee;
}


/* ---------- drop down button specific ---------- */

/* border between label and arrow (for drop down buttons */
.dojoButton .border {
	width: 1px;
	background: gray;
}

/* button arrow */
.dojoButton .downArrow {
	padding-left: 10px;
	text-align: center;
}

.dojoButton.disabled .downArrow {
	cursor : default;
}