<span style="display:none;">
	<span style="position:relative;" dojoAttachPoint="relNode">
		<span style="position:absolute; left:0; top:0;" dojoAttachPoint="absNode">
			<span style="position:relative;" dojoAttachPoint="innerRelNode">
				<img border="0"
					hspace="0"
					vspace="0"
					style="position:absolute; left:0;top:0; border-right:1px solid black;border-bottom:1px solid black;"
					dojoAttachPoint="upArrowNode"
					src="${dojoRoot}src/widget/templates/images/spinnerIncrement.gif">
				<img border="0"
					hspace="0"
					vspace="0"
					style="vertical-align:bottom;border-right:1px solid black;border-bottom:1px solid black;"
					dojoAttachPoint="downArrowNode"
					src="${dojoRoot}src/widget/templates/images/spinnerDecrement.gif">
			</span>
		</span>
		<span style="position:relative;" dojoAttachPoint="spacerRelNode">
			<img border="0"
				hspace="0"
				vspace="0"
				style="visibility:hidden;"
				dojoAttachPoint="spacerNode"
				src="${dojoRoot}src/widget/templates/images/spinnerIncrement.gif">
		</span>
	</span>
</span>
