.dojoDocSrc {
	white-space: pre;
	font-family: Courier, "Courier New", monospace;
	font-size: 0.8em;
}
.dojoDocReturn {
	color: #369;
}
.dojoDocFunction {
	color: #98543F;
	font-weight: bold;
}
.dojoDocParamType {
	font-style: italic;
	color: #D17575;
}
.dojoDocParamName {
	color: #D14040;
}