<div>
	<div dojoAttachPoint="containerNode"></div>
	<div dojoAttachPoint="select">
		<h1>Detail: <span dojoAttachPoint="fn">dojo.select</span></h1>
		<div dojoAttachPoint="description">Description</div>
		<div class="dojoDocParams" dojoAttachPoint="parameters">
			<h2>Parameters</h2>
			<div dojoAttachPoint="pRow"><span dojoAttachPoint="pOpt"><em>optional</em> </span><span><span dojoAttachPoint="pType">type</span> </span><a href="#" dojoAttachPoint="pLink">variable</a><span> - <span dojoAttachPoint="pDesc"></span></span></div>
		</div>
		<div class="dojoDocVars" dojoAttachPoint="variables">
			<h2>Variables</h2>
			<div dojoAttachPoint="vRow"><a href="#" dojoAttachPoint="vLink">variable</a><span> - <span dojoAttachPoint="vDesc"></span></span></div>
		</div>
		<div>
			<h2>Source Code</h2>
			<div class="dojoDocSrc"><span class="dojoDocReturn" dojoAttachPoint="sType">returnType</span> <span class="dojoDocFunction" dojoAttachPoint="sName">foo</span>(<span dojoAttachPoint="sParams"><span class="dojoDocParamType" dojoAttachPoint="sPType">type </span><span class="dojoDocParamName" dojoAttachPoint="sPName">paramName</span></span>){<span dojoAttachPoint="source">...</span>}</div>
		</div>
	</div>
	<div dojoAttachPoint="result">
		<h1>Search Results: <span dojoAttachPoint="count">0</span> matches</h1>
		<div dojoAttachPoint="row"><a href="#" dojoAttachPoint="fnLink">dojo.fnLink</a><span> - <span dojoAttachPoint="summary">summary</span></span></div>
	</div>
</div>
