<div class="datePickerContainer" dojoAttachPoint="datePickerContainerNode">
	<table cellspacing="0" cellpadding="0" class="calendarContainer">
		<thead>
			<tr>
				<td class="monthWrapper" valign="top">
					<table class="monthContainer" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td class="monthCurve monthCurveTL" valign="top"></td>
							<td class="monthLabelContainer" valign="top">
								<span dojoAttachPoint="increaseWeekNode" 
									dojoAttachEvent="onClick: onIncrementWeek;" 
									class="incrementControl increase">
									<img src="${dojoRoot}src/widget/templates/images/incrementMonth.png" 
									alt="&darr;" style="width:7px;height:5px;" />
								</span>
								<span 
									dojoAttachPoint="increaseMonthNode" 
									dojoAttachEvent="onClick: onIncrementMonth;" class="incrementControl increase">
									<img src="${dojoRoot}src/widget/templates/images/incrementMonth.png" 
										alt="&darr;"  dojoAttachPoint="incrementMonthImageNode">
								</span>
								<span 
									dojoAttachPoint="decreaseWeekNode" 
									dojoAttachEvent="onClick: onIncrementWeek;" 
									class="incrementControl decrease">
									<img src="${dojoRoot}src/widget/templates/images/decrementMonth.png" alt="&uarr;" style="width:7px;height:5px;" />
								</span>
								<span 
									dojoAttachPoint="decreaseMonthNode" 
									dojoAttachEvent="onClick: onIncrementMonth;" class="incrementControl decrease">
									<img src="${dojoRoot}src/widget/templates/images/decrementMonth.png" 
										alt="&uarr;" dojoAttachPoint="decrementMonthImageNode">
								</span>
								<span dojoAttachPoint="monthLabelNode" class="month">July</span>
							</td>
							<td class="monthCurve monthCurveTR" valign="top"></td>
						</tr>
					</table>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="3">
					<table class="calendarBodyContainer" cellspacing="0" cellpadding="0" border="0">
						<thead>
							<tr>
								<td>S</td>
								<td>M</td>
								<td>T</td>
								<td>W</td>
								<td>T</td>
								<td>F</td>
								<td>S</td>
							</tr>
						</thead>
						<tbody dojoAttachPoint="calendarDatesContainerNode" 
							dojoAttachEvent="onClick: onSetDate;">
							<tr dojoAttachPoint="calendarRow0">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr dojoAttachPoint="calendarRow1">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr dojoAttachPoint="calendarRow2">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr dojoAttachPoint="calendarRow3">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr dojoAttachPoint="calendarRow4">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr dojoAttachPoint="calendarRow5">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3" class="yearWrapper">
					<table cellspacing="0" cellpadding="0" border="0" class="yearContainer">
						<tr>
							<td class="curveBL" valign="top"></td>
							<td valign="top">
								<h3 class="yearLabel">
									<span dojoAttachPoint="previousYearLabelNode"
										dojoAttachEvent="onClick: onIncrementYear;" class="previousYear"></span>
									<span class="selectedYear" dojoAttachPoint="currentYearLabelNode"></span>
									<span dojoAttachPoint="nextYearLabelNode" 
										dojoAttachEvent="onClick: onIncrementYear;" class="nextYear"></span>
								</h3>
							</td>
							<td class="curveBR" valign="top"></td>
						</tr>
					</table>
				</td>
			</tr>
		</tfoot>
	</table>
	
</div>
