<div class="timePickerContainer" dojoAttachPoint="timePickerContainerNode">
	<table class="timeContainer" cellspacing="0" >
		<thead>
			<tr>
				<td>Hour</td>
				<td class="minutesHeading">Minute</td>
				<td>&nbsp;</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td valign="top">
					<table>
						<tbody dojoAttachPoint="hourContainerNode"  
							dojoAttachEvent="onClick: onSetSelectedHour;">
							<tr>
								<td>12</td>
								<td>6</td>
							</tr>
							<tr>
								<td>1</td>
								<td>7</td>
							</tr>
							<tr>
								<td>2</td>
								<td>8</td>
							</tr>
							<tr>
								<td>3</td>
								<td>9</td>
							</tr>
							<tr>
								<td>4</td>
								<td>10</td>
							</tr>
							<tr>
								<td>5</td>
								<td>11</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td valign="top" class="minutes">
					<table>
						<tbody dojoAttachPoint="minuteContainerNode" 
							dojoAttachEvent="onClick: onSetSelectedMinute;">
							<tr>
								<td>00</td>
								<td>30</td>
							</tr>
							<tr>
								<td>05</td>
								<td>35</td>
							</tr>
							<tr>
								<td>10</td>
								<td>40</td>
							</tr>
							<tr>
								<td>15</td>
								<td>45</td>
							</tr>
							<tr>
								<td>20</td>
								<td>50</td>
							</tr>
							<tr>
								<td>25</td>
								<td>55</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td valign="top">
					<table>
						<tbody dojoAttachPoint="amPmContainerNode" 
							dojoAttachEvent="onClick: onSetSelectedAmPm;">
							<tr>
								<td>AM</td>
							</tr>
							<tr>
								<td>PM</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div dojoAttachPoint="anyTimeContainerNode" 
						dojoAttachEvent="onClick: onSetSelectedAnyTime;" 
						class="anyTimeContainer">any</div>
				</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
