<div class="WizardContainer" dojoAttachPoint="wizardNode">
    <div class="WizardText" dojoAttachPoint="wizardPanelContainerNode">
    </div>
    <div class="WizardButtonHolder" dojoAttachPoint="wizardControlContainerNode">
        <input class="WizardButton" type="button" dojoAttachPoint="previousButton"/>
        <input class="WizardButton" type="button" dojoAttachPoint="nextButton"/>
        <input class="WizardButton" type="button" dojoAttachPoint="cancelButton"/>
        <input class="WizardButton" type="button" dojoAttachPoint="doneButton" style="display:none"/>
    </div>
</div>

